mixin Advantages
  .advantages
    .row
      .advantages__item.col-4.col-md-8
        .advantages__item-img
          img(src="./assets/img/advantages/advantages-1.svg" alt="Котлеты из мраморной говядины «Black Angus»")
        h4.f_xl_2.advantages__item-name Котлеты из мраморной говядины «Black Angus»
      .advantages__item.col-4.col-md-8
        .advantages__item-img
          img(src="./assets/img/advantages/advantages-2.svg" alt="Работаем круглосуточно")
        h4.f_xl_2.advantages__item-name Работаем круглосуточно
      .advantages__item.col-4.col-md-8
        .advantages__item-img
          img(src="./assets/img/advantages/advantages-3.svg" alt="Завтраки с круглосуточной доставкой")
        h4.f_xl_2.advantages__item-name Завтраки с круглосуточной доставкой
