mixin Promo-slider
  .promo-slider
    p.f_title.promo-slider__title.promo-slider__title_first Френдс
    .promo-slider__slider.swiper-container
      .promo-slider__slider-wrapper.swiper-wrapper
        .swiper-slide.promo-slider__slide.promo-slider__slide
          .promo-slider__box
            span.promo-slider__ellipse.promo-slider__ellipse_burger
            img(src="./assets/img/promo/slide-1.png", alt="")
        .swiper-slide.promo-slider__slide
          .promo-slider__box
            span.promo-slider__ellipse.promo-slider__ellipse_hotdog
            img(src="./assets/img/promo/slide-2.png", alt="")
    p.f_title.promo-slider__title.promo-slider__title_second Friends
