mixin Logo
  a.logo&attributes(attributes)
    img(src='./assets/img/logo-rus.svg' alt="Friends")

mixin Logo-white
  a.logo&attributes(attributes)
    img(src='./assets/img/logo-rus-white.svg' alt="Friends")
