mixin Logo
  a.logo&attributes(attributes)
    img(src='./assets/img/logo-eng.svg' alt="Friends")

mixin Logo-white
  a.logo&attributes(attributes)
    img(src='./assets/img/logo-eng-white.svg' alt="Friends")
