mixin Socials-block
  .socials-block
    h2.f_title.socials-block__title Соц. сети
    a.f_subtitle.f_mon.f_sbold.socials-block__item.socials-block__item_instagram(href="#") Instagram
    a.f_subtitle.f_mon.f_sbold.socials-block__item.socials-block__item_vk(href="#") Vk
