extends ../layouts/main

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content
  .arts
    img.arts__item.arts__item_1(src="./assets/img/art-elements/seeds.png")
    img.arts__item.arts__item_2(src="./assets/img/art-elements/kiwi-h.png")
    img.arts__item.arts__item_3(src="./assets/img/art-elements/kiwi-v.png")
  section.section.section_xxs
    .container
      +Stocks-slider
  section.section.section_lg
    .anchor
      span#burgers
    .container
      .switch-products(data-switcher)
        nav.switch-products__tabs(data-switcher-nav)
          a.f_title.switch-products__tab(href="#") Бургеры
            img.icon.last(src="./assets/img/i-smile.png")
          a.f_title.switch-products__tab(href="#") Завтраки
        .switch-products__content(data-switcher-content)
          .switch-products__item
            .row
              .col-6.col-md-12
                span(data-products-item="burger01")
              .col-6.col-md-12
                span(data-products-item="burger02")
              .col-6.col-md-12
                span(data-products-item="burger03")
              .col-6.col-md-12
                span(data-products-item="burger04")
              .col-6.col-md-12
                span(data-products-item="burger05")
              .col-6.col-md-12
                span(data-products-item="burger06")
              .col-6.col-md-12
                span(data-products-item="burger07")
              .col-6.col-md-12
                span(data-products-item="burger08")
              .col-6.col-md-12
                span(data-products-item="burger09")
              .col-6.col-md-12
                span(data-products-item="burger10")

              //- .col-6
              //-   .product-card
              //-     .product-card__img
              //-       img.product-card__vapor(src="./assets/img/vapor.svg")
              //-       img(src="./assets/img/products/p-2.png")
              //-     .product-card__box
              //-       h4.f_subtitle.product-card__title Френд’c
              //-       .product-card__info
              //-         span.f_xl.f_mon.product-card__price 299 руб
              //-       .product-card__descr Говяжья котлета с соусом «Айоли»
              //-       .product-card__actions
              //-         +Button-product-card.product-card__button В корзину
          .switch-products__item
            .row
              .col-6.col-md-12
                span(data-products-item="breakfast01")
              .col-6.col-md-12
                span(data-products-item="breakfast02")
              .col-6.col-md-12
                span(data-products-item="breakfast03")
              .col-6.col-md-12
                span(data-products-item="breakfast04")
              .col-6.col-md-12
                span(data-products-item="breakfast05")
              .col-6.col-md-12
                span(data-products-item="breakfast06")
              .col-6.col-md-12
                span(data-products-item="breakfast07")
              .col-6.col-md-12
                span(data-products-item="breakfast08")
  section.section.section_lg
    .promo-slider
      .container
        p.f_title.promo-slider__title.promo-slider__title_first Френдс
      .container_fluid
        +Promo-slider
      .container
        p.f_title.promo-slider__title.promo-slider__title_second Friends
  section.section.section_lg
    .container
      +Advantages
  section.section.section_s
    .container
      +Block-color.block-color_text
        //-SH-block
        .sh-block(data-sh-block)
          .sh-block__container.article(data-sh-container)
            h1 Семейное кафе Френдс
            p Friend`s cafe — это заведение со своей историей. Изначально это было кафе в американском стиле. Спустя время формат заведения поменялся. И сейчас оно больше напоминает европейское кафе, однако наши бургеры остаются неизменными. Нашими гостями в основном являются молодые люди и семьи с детьми.
            p Кафе работает круглосуточно, поэтому мы 24 часа в сутки предоставляем возможность вкусно поесть и даже позавтракать и провести время в непринужденной обстановке. Мы всегда рады встретить наших гостей и уделить им максимум внимания.
          .sh-block__actions
            +Button-sh-block(data-sh-button='false' data-sh-hide="Скрыть" data-sh-show="Посмотреть весь")
        //-SH-block
  section.section.section_xl
    .container
      +Socials-block
  section.section.section_xs
    .container
      +Gallery
  section.section.section_xl
    .container
      +Block-color.block-color_blockquote
        +Blockquote-slider
