extends ../layouts/main

block variables
  - var title = "Акции"
  - var pageClass = ''
  - var activePage = 'menu'

block content
  section.section
    .container
      .title-block
        h1.f_title Кафе «Friends»
  section.section.section_xs
    .container
      +Block-color.block-color_text
        +Chat-block
  section.section.section_xl
    .container
      .title-block
        h1.f_title Почему наше кафе?
  section.section.section_m
    .container
      +Advantages
  section.section.section_s
    .container
      +Block-color.block-color_text
        //-SH-block
        .sh-block(data-sh-block)
          .sh-block__container.article(data-sh-container)
            h1 Семейное кафе Френдс
            p Friend`s cafe — это заведение со своей историей. Изначально это было кафе в американском стиле. Спустя время формат заведения поменялся. И сейчас оно больше напоминает европейское кафе, однако наши бургеры остаются неизменными. Нашими гостями в основном являются молодые люди и семьи с детьми.
            p Кафе работает круглосуточно, поэтому мы 24 часа в сутки предоставляем возможность вкусно поесть и даже позавтракать и провести время в непринужденной обстановке. Мы всегда рады встретить наших гостей и уделить им максимум внимания.
          .sh-block__actions
            +Button-sh-block(data-sh-button='false' data-sh-hide="Скрыть" data-sh-show="Посмотреть весь")
        //-SH-block
  section.section.section_xl
    .container
      +Socials-block
  section.section.section_xs
    .container
      +Gallery
  section.section.section_xl
    .container
      +Block-color.block-color_blockquote
        +Blockquote-slider
