extends ../layouts/main

block variables
  - var title = "Новинки!"
  - var pageClass = ''

block content
  section.section.section_xxxs
    .container
      .article
        img(src="./assets/img/stocks/stock-1-big.jpg", alt="")
        h1 Новинки!
        p Безусловно, современная методология разработки представляет собой интересный эксперимент проверки благоприятных перспектив! Лишь сторонники тоталитаризма в науке могут быть указаны как претенденты на роль ключевых факторов.
        p Значимость этих проблем настолько очевидна, что базовый вектор развития предоставляет широкие возможности для поэтапного и последовательного развития
        p Безусловно, современная методология разработки представляет собой интересный эксперимент проверки благоприятных перспектив! Лишь сторонники тоталитаризма в науке могут быть указаны как претенденты на роль ключевых факторов. Значимость этих проблем настолько очевидна, что базовый вектор развития предоставляет широкие возможности для поэтапного и последовательного развития
