include Button/Button
include Logo/Logo
include Icon/Icon
include Stock-item/Stock-item
include Map/Map
include Advantages/Advantages
include Block-color/Block-color
include Blockquote/Blockquote
include Socials-block/Socials-block
include Gallery/Gallery
include Chat-block/Chat-block
include Contacts-block/Contacts-block
include Promo-slider/Promo-slider
include Stocks-slider/Stocks-slider
include Modal/Modal
include Cart/Cart
include Alert/Alert
