mixin Gallery
  .gallery.row
    .col-9.col-sm-12
      img.gallery__img(src="./assets/img/gallery/g-1.jpg" data-src-img="./assets/img/gallery/g-1.jpg" alt='123')
    .col-3.col-sm-6
      img.gallery__img.gallery__img_window(src="./assets/img/gallery/g-2.jpg" data-src-img="./assets/img/gallery/g-2.jpg")
    .col-3.col-sm-6
      img.gallery__img.gallery__img_window(src="./assets/img/gallery/g-3.jpg" data-src-img="./assets/img/gallery/g-3.jpg")
    .col-6.col-sm-12
      img.gallery__img(src="./assets/img/gallery/g-5.jpg" data-src-img="./assets/img/gallery/g-5.jpg")
    .col-3.col-sm-6
      img.gallery__img.gallery__img_window(src="./assets/img/gallery/g-4.jpg" data-src-img="./assets/img/gallery/g-4.jpg")
