.gallery
  margin-bottom: -$i*4
  [class*="col"]
    margin-bottom: $i*4
  &__img
    width: 100%
    max-height: 312px
    border-radius: 3000px
    cursor: pointer
    &_window
      border-bottom-left-radius: 0
      border-bottom-right-radius: 0
  img
    width: 100%
    height: 100%
    object-fit: cover
