.stocks-slider
  position: relative
  &__nav
    display: inline-flex
    align-items: center
    justify-content: center
    width: 2.222rem
    background-color: $grey
    padding: 10px
    border-radius: 50%
    cursor: pointer
    svg
      width: 100%
      height: 100%
    path
      fill: $grey-2
    &:hover
      background-color: $orange-light
      svg path
        fill: $white
    &:active
      background-color: $orange-dark
    &_prev
      // right: 280px
      transform: rotate(180deg)
    &_next
      margin-left: $i*4
      // right: 220px

  .swiper-slide
    opacity: 0 !important
    &.swiper-slide-active
      opacity: 1 !important
