mixin Stocks-slider
  .stocks-slider.swiper-container
    .stocks-slider.swiper-wrapper
      .swiper-slide.stocks-item
        .stocks-item__img
          <svg viewBox="0 0 784 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M794 27.829C780.6 1.43057 740.4 1.43057 727 27.829C713.6 54.2274 673.4 54.2274 660 27.829C646.6 1.43056 606.4 1.43056 593 27.829C579.6 54.2274 539.4 54.2274 526 27.829C512.6 1.43055 472.4 1.43055 459 27.829C445.6 54.2274 405.4 54.2274 392 27.829C378.6 1.43054 338.4 1.43053 325 27.829C311.6 54.2274 271.4 54.2274 258 27.829C244.6 1.43053 204.4 1.43052 191 27.829C177.6 54.2274 137.4 54.2274 124 27.829C110.6 1.43052 70.4 1.43051 57 27.8289C43.6 54.2274 3.39995 54.2274 -10 27.8289" stroke="white" stroke-width="16"/>
          </svg>
          img(src="./assets/img/stocks/stock-1.jpg" alt="Новинки!")
        .stocks-item__descr
          .stocks-item__box
            .stocks-slider__navs
              .stocks-slider__nav.stocks-slider__nav_prev
                svg(viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(fill-rule="evenodd" clip-rule="evenodd" d="M20.3491 10.7705C20.2481 11.0025 20.1003 11.2131 19.9139 11.3902L11.4279 19.5019C11.0507 19.8502 10.5455 20.0429 10.0211 20.0385C9.49668 20.0341 8.99506 19.8331 8.62424 19.4786C8.25342 19.1242 8.04309 18.6447 8.03853 18.1434C8.03397 17.6421 8.23556 17.1592 8.59988 16.7986L13.6719 11.9504H2.49988C1.96944 11.9504 1.46074 11.7489 1.08566 11.3904C0.710592 11.0319 0.499878 10.5456 0.499878 10.0386C0.499878 9.53154 0.710592 9.04527 1.08566 8.68674C1.46074 8.32821 1.96944 8.12679 2.49988 8.12679H13.6719L8.59988 3.2785C8.23556 2.91793 8.03397 2.43501 8.03853 1.93375C8.04309 1.43248 8.25342 0.952984 8.62424 0.598524C8.99506 0.244063 9.49668 0.0430023 10.0211 0.0386465C10.5455 0.0342906 11.0507 0.226989 11.4279 0.575236L19.9139 8.68694C20.1003 8.86407 20.2481 9.07468 20.3491 9.30664C20.45 9.5386 20.5019 9.78735 20.5019 10.0386C20.5019 10.2898 20.45 10.5385 20.3491 10.7705Z")
              .stocks-slider__nav.stocks-slider__nav_next
                svg(viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(fill-rule="evenodd" clip-rule="evenodd" d="M20.3491 10.7705C20.2481 11.0025 20.1003 11.2131 19.9139 11.3902L11.4279 19.5019C11.0507 19.8502 10.5455 20.0429 10.0211 20.0385C9.49668 20.0341 8.99506 19.8331 8.62424 19.4786C8.25342 19.1242 8.04309 18.6447 8.03853 18.1434C8.03397 17.6421 8.23556 17.1592 8.59988 16.7986L13.6719 11.9504H2.49988C1.96944 11.9504 1.46074 11.7489 1.08566 11.3904C0.710592 11.0319 0.499878 10.5456 0.499878 10.0386C0.499878 9.53154 0.710592 9.04527 1.08566 8.68674C1.46074 8.32821 1.96944 8.12679 2.49988 8.12679H13.6719L8.59988 3.2785C8.23556 2.91793 8.03397 2.43501 8.03853 1.93375C8.04309 1.43248 8.25342 0.952984 8.62424 0.598524C8.99506 0.244063 9.49668 0.0430023 10.0211 0.0386465C10.5455 0.0342906 11.0507 0.226989 11.4279 0.575236L19.9139 8.68694C20.1003 8.86407 20.2481 9.07468 20.3491 9.30664C20.45 9.5386 20.5019 9.78735 20.5019 10.0386C20.5019 10.2898 20.45 10.5385 20.3491 10.7705Z")
            h3.f_title.stocks-item__title Новинки!
            p.stocks-item__text Современные технологии достигли такого уровня, что разбавленное изрядной долей эмпатии, рациональное мышление требует анализа как.
            .stocks-item__actions
              +Button-red-link(href="stock-page.html") Подробнее
      .swiper-slide.stocks-item
        .stocks-item__img
          <svg viewBox="0 0 784 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M794 27.829C780.6 1.43057 740.4 1.43057 727 27.829C713.6 54.2274 673.4 54.2274 660 27.829C646.6 1.43056 606.4 1.43056 593 27.829C579.6 54.2274 539.4 54.2274 526 27.829C512.6 1.43055 472.4 1.43055 459 27.829C445.6 54.2274 405.4 54.2274 392 27.829C378.6 1.43054 338.4 1.43053 325 27.829C311.6 54.2274 271.4 54.2274 258 27.829C244.6 1.43053 204.4 1.43052 191 27.829C177.6 54.2274 137.4 54.2274 124 27.829C110.6 1.43052 70.4 1.43051 57 27.8289C43.6 54.2274 3.39995 54.2274 -10 27.8289" stroke="white" stroke-width="16"/>
          </svg>
          img(src="./assets/img/stocks/stock-2.jpg" alt="Новинки!")
        .stocks-item__descr
          .stocks-item__box
            .stocks-slider__navs
              .stocks-slider__nav.stocks-slider__nav_prev
                svg(viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(fill-rule="evenodd" clip-rule="evenodd" d="M20.3491 10.7705C20.2481 11.0025 20.1003 11.2131 19.9139 11.3902L11.4279 19.5019C11.0507 19.8502 10.5455 20.0429 10.0211 20.0385C9.49668 20.0341 8.99506 19.8331 8.62424 19.4786C8.25342 19.1242 8.04309 18.6447 8.03853 18.1434C8.03397 17.6421 8.23556 17.1592 8.59988 16.7986L13.6719 11.9504H2.49988C1.96944 11.9504 1.46074 11.7489 1.08566 11.3904C0.710592 11.0319 0.499878 10.5456 0.499878 10.0386C0.499878 9.53154 0.710592 9.04527 1.08566 8.68674C1.46074 8.32821 1.96944 8.12679 2.49988 8.12679H13.6719L8.59988 3.2785C8.23556 2.91793 8.03397 2.43501 8.03853 1.93375C8.04309 1.43248 8.25342 0.952984 8.62424 0.598524C8.99506 0.244063 9.49668 0.0430023 10.0211 0.0386465C10.5455 0.0342906 11.0507 0.226989 11.4279 0.575236L19.9139 8.68694C20.1003 8.86407 20.2481 9.07468 20.3491 9.30664C20.45 9.5386 20.5019 9.78735 20.5019 10.0386C20.5019 10.2898 20.45 10.5385 20.3491 10.7705Z")
              .stocks-slider__nav.stocks-slider__nav_next
                svg(viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(fill-rule="evenodd" clip-rule="evenodd" d="M20.3491 10.7705C20.2481 11.0025 20.1003 11.2131 19.9139 11.3902L11.4279 19.5019C11.0507 19.8502 10.5455 20.0429 10.0211 20.0385C9.49668 20.0341 8.99506 19.8331 8.62424 19.4786C8.25342 19.1242 8.04309 18.6447 8.03853 18.1434C8.03397 17.6421 8.23556 17.1592 8.59988 16.7986L13.6719 11.9504H2.49988C1.96944 11.9504 1.46074 11.7489 1.08566 11.3904C0.710592 11.0319 0.499878 10.5456 0.499878 10.0386C0.499878 9.53154 0.710592 9.04527 1.08566 8.68674C1.46074 8.32821 1.96944 8.12679 2.49988 8.12679H13.6719L8.59988 3.2785C8.23556 2.91793 8.03397 2.43501 8.03853 1.93375C8.04309 1.43248 8.25342 0.952984 8.62424 0.598524C8.99506 0.244063 9.49668 0.0430023 10.0211 0.0386465C10.5455 0.0342906 11.0507 0.226989 11.4279 0.575236L19.9139 8.68694C20.1003 8.86407 20.2481 9.07468 20.3491 9.30664C20.45 9.5386 20.5019 9.78735 20.5019 10.0386C20.5019 10.2898 20.45 10.5385 20.3491 10.7705Z")
            h3.f_title.stocks-item__title Акции
            p.stocks-item__text Современные технологии достигли такого уровня, что разбавленное изрядной долей эмпатии, рациональное мышление требует анализа как.
            .stocks-item__actions
              +Button-red-link(href="stock-page.html") Подробнее
