mixin Blockquote
  .blockquote
    .blockquote__item
      img.blockquote__img(src="./assets/img/quote-img.jpg")
      .blockquote__info
        img.blockquote__quote(src="./assets/img/quote.svg")
        h4.f_subtitle.blockquote__title Константинопольская
        p.f_lg.f_sbold.blockquote__text Активно развивающиеся страны третьего мира разоблачены! И нет сомнений, что интерактивные прототипы являются только методом политического участия и.


mixin Blockquote-slider
  .blockquote
    .blockquote__slider.swiper-container
      .swiper-wrapper
        .swiper-slide.blockquote__item
          .blockquote__img
            img(src="./assets/img/quote-1.jpeg")
          .blockquote__info
            img.blockquote__quote(src="./assets/img/quote.svg")
            h4.f_subtitle.blockquote__title Павел
            p.f_lg.f_sbold.blockquote__text Заказывали во Френдс бургеры всю изоляцию, очень вкусно, доставка быстро приезжает. Очень доволен, жду когда вы откроетесь, хочу сходить к вам с детьми.
