mixin Contacts-block
  .contacts-block
    .title-block.contacts-block__title
      .h1.f_title Контакты
    nav.contacts-block__links
      p.f_subtitle.f_sbold Зеленоград, к435А
      a.f_subtitle.f_sbold(href="tel:+79999999999") +7 999 999-99-99
      a.f_subtitle.f_sbold(href="mailto:email@example.ru") email@example.ru
    .contacts-block__actions
      +Button-eye-red-link(href="https://yandex.ru/maps/?um=constructor%3Ab718fff3ec93134cbf9897f969a9b894020c5b9d80b8f84ce41e9bee90046c98&source=constructorLink" target="_blank") Зона доставки
